<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && Register()">
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" formControlName="first_name" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" formControlName="last_name" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email" ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<!-- <form (ngSubmit)="logForm()">
  <ion-item>
    <ion-label>Todo</ion-label>
    <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea [(ngModel)]="todo.description" name="description"></ion-textarea>
  </ion-item>
  <button ion-button type="submit" block>Add Todo</button>
</form> -->